@use 'sass:color';
@use 'nix_theme' as *;

$bar_maxheight: 24pt;

.topbar {
  background-color: #000;
  // border around topbar
  > revealer > centerbox { margin: 4pt; }
  // spacing between widgets calculated in PT
  > revealer > centerbox > * > *:not(:last-child) { margin-right: 4pt; }

  .distroLogo {
    icon { font-size: $bar_maxheight * .8; }
    min-height: $bar_maxheight;
    min-width: $bar_maxheight;
  }

  .workspaces {
    > button {
      min-height: $bar_maxheight;
      min-width: $bar_maxheight;
      font-weight: bold;
      border-radius: $bar_maxheight * .1;
      > label { color: rgba($fg, 0.4); }

      &.occupied > label { color: $fg; }
      &.focused { background-color: color.scale(#fff, $alpha: -75%); }
      &:hover { background-color: color.scale(#fff, $alpha: -85%); }
    }
  }

  .datetime {
    min-height: $bar_maxheight;
    border-radius: $bar_maxheight * .2;
    padding: 0 8pt;

    &:hover { background-color: $bg1; }
    &:hover:active { background-color: $bg2; }
    > label { color: $fg; font-weight: 500; }
  }

  .systray {
    min-height: $bar_maxheight;
    border-radius: $bar_maxheight * .2;
    padding: 0 6pt;
    background-color: color.scale(#fff, $alpha: -95%);
  }

  .systrayitem {
    icon {
      font-size: $bar_maxheight * .6;
      margin: 0 2pt;
    }
  }
}
